html {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  flex-direction: column;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s;
}

#clock {
  font-family: "Droid Sans Mono";
  font-size: 72px;
}

.navbar {
  margin-bottom: 0;
  width: 100%;
}

.navbar-static-top {
  align-self: flex-start;
}

.navbar-static-bottom {
  align-self: flex-end;
  padding: 5px 0;
  background-color: transparent;
  border: none;
  transition: opacity 0.5s; /* FIXME */
}

.container-fluid {
  width: 480px;
}

@media (max-width: 480px) {
  .container-fluid {
    width: 100%;
  }
  #clock {
    font-size: 300%;
    font-size: 16vw;
  }
}

@media (max-height: 320px) {
  #status {
    display: none;
  }
}
